form{
    margin: 0 auto;
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.input-indic{
    text-align: center;
}

#inputt {
    background-color: lightgray;
    color:black;
    border: 1px solid black;
    border-radius: 2px;
    transform: scale(1), color;
    transition-duration: 300ms;
}

#inputt:hover{
    transform: scale(1.1);
    background-color: rgb(92, 194, 92);
    cursor: pointer;
}

.fav{
    margin: 5px auto;
    display: flex;
    background-color: lightgray;
    color:black;
    border: 1px solid black;
    border-radius: 2px;
    transform: scale(1), color;
    transition-duration: 300ms;
}

.fav:hover{
    transform: scale(1.1);
    background-color: rgb(202, 78, 66);
}

.citySeacrhInput:hover{
    cursor: pointer;
}

button{
    cursor: pointer;
}